body {
    background-color: #f1ede1;
}
div p {
    width: 30%;
    margin-left: 33%;
    margin-top: 5%;
}

h2 {
    margin-top: 10%;
}
.carousel-caption h5 {
    font-size: 80px;
    color: #d5c1a8;
    text-shadow: 1px 1px 1px black;
}

.about {
    width: 20%;
    border-radius: 50%;
    margin-right: 13%;
    margin-bottom: 10%;
}
#nossoTime {
    background-color: #d5c1a8;
    margin-bottom: 10%;
}

#time {
    padding-top: 5%;
}

.col-lg-4 h2,
h5 {
    text-align: center;
    margin-top: 2%;
}
.bd-placeholder-img {
    margin-left: 36%;
    padding: auto;
}

.fw-normal {
    margin: 0;
    padding: 0;
}

.card {
    margin: 10%;
}

.card-text {
    width: 100%;
    margin-left: 2%;
    text-align: center;
}

.card-group {
    width: 70%;
    margin-left: 15%;
}

.card-footer {
    text-align: center;
}

#footer {
    background-color: #ddd5c8;
}

footer div p {
    text-align: center;
    margin: 1%;
}

.border-top {
    padding-left: 40%;
}

#icons {
    margin-left: 0.2%;
}

#copyright {
    margin-left: 35%;
    padding-bottom: 2%;
}